<div class="container">
    <%= image_tag 'edu.jpeg', class: 'avatar-bordered' %>
    <h1>Pedro Eduardo Silva</h1>
    <h2>Desenvolvedor Full Stack</h2>
    <% @technologies.each do |technology| %>
        <%= technology.name %>
        <%= technology.description %>
        <%= image_tag technology.photo, height: 100, width: 100, crop: :fill %>
    <% end %>
</div>

<%= render 'messages/new', message: @message %>